.main-contextMenu-menu {
  scrollbar-width: thin;
  border-radius: var(--border-radius);
  background-color: rgba(var(--spice-rgb-main), 0.9) !important;
  box-shadow: 0 0px 24px rgba(var(--spice-rgb-shadow), 0.5);
}

.main-contextMenu-menu:before {
  content: "";
  border-radius: var(--border-radius);
  backdrop-filter: var(--mica-effect);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
