/*
--------------------------
	MARK: TEST FEATURES
--------------------------
*/

/*rounded filters turn square*/
.x-filterBox-filterInput,
.search-searchCategory-categoryGrid > div > button > span {
  border-radius: 7px;
}

/* ctrl + k popup*/

.search-modal-searchBar {
  border-radius: 8px;
  height: 40px;
  padding: 0 16px;
  width: 658px;
  justify-self: center;
}

.N9tnwm0XDrt_eGJd2D2A {
  border-radius: 8px;
}

.zZMsUUWG29PYcwWPXhOV {
  padding: 32px;
}

.search-modal-listbox,
.zZMsUUWG29PYcwWPXhOV .kfmGT75UTPoF_D2afwa {
  border-radius: 0px;
}
