/*adds space to drag small window*/
@media (max-width: 1500px) {
  :root:not(.libx-ui):not(.applemusic-ui) .main-topBar-topbarContentRight::after {
    content: "|";
    -webkit-app-region: drag;
    color: rgba(var(--spice-rgb-text), 0.5);
    font-weight: 1;
    font-size: 30px;
    height: 48px;
    width: 48px;
  }
}

/*compact connect bar*/
.main-connectBar-connectBar {
  position: absolute;
  right: 175px;
  bottom: 7%;
  height: 22px;
  padding: 5px;
  overflow: visible;
}

/*able to drag windows*/
.Root__globalNav {
  -webkit-app-region: drag;
}

/*shift the browse all in search up a bit*/
.search-searchBrowse-SearchBrowse {
  margin-top: 0px;
}

/*cant get emplyee mode anymore from 1.2.60 >*/
/*employee update button*/
.YyUcY0HTiYikUOwhh29d {
  height: 48px;
  color: var(--spice-sidebar) !important;
  background-color: var(--spice-button-active) !important;
  border-radius: 7px !important;
}

/*THIS IS FOR THE SEARCH TAB FOR THE ITEMS SO THEY HAVE DROPSHADOW*/
.Vn9yz8P5MjIvDT8c0U6w {
  box-shadow: 0 0px 8px rgba(var(--spice-rgb-shadow), 0.2);
}

/*search page play button*/
.NI1OxoVdokxENPAjoeOk {
  box-shadow: none !important;
}

/*makes my contextmenu icons have same colour*/
#context-menu [data-encore-id="icon"] {
  --encore-icon-fill: var(--text-subdued, #656565);
}
