/*adds space to drag small window*/
@media (max-width: 1200px) {
  body:not(.LibX):not(.AppleMusic) .main-topBar-topbarContentRight::after {
    content: "|";
    -webkit-app-region: drag;
    color: rgba(var(--spice-rgb-text), 0.5);
    font-weight: 1;
    font-size: xx-large;
    height: 48px;
    width: 48px;
    margin-left: 8px;
}
}

/*compact connect bar*/
.main-connectBar-connectBar {
  position: absolute;
  overflow: visible;
  right: 175px;
  height: 22px;
  bottom: 7%;
  padding: 5px;
}

/*able to drag windows*/
.Root__globalNav {
  -webkit-app-region: drag;
}

/*shift the browse all in search up a bit*/
.search-searchBrowse-SearchBrowse {
  margin-top: 0px;
}

/*employee update button*/
.YyUcY0HTiYikUOwhh29d {
  height: 48px;
  background-color: var(--spice-button-active) !important;
  color: var(--spice-sidebar) !important;
  /* font-weight: 500;
  font-size: 15px; */
  border-radius: 7px !important;
}

/*THIS IS FOR THE SEARCH TAB FOR THE ITEMS SO THEY HAVE DROPSHADOW*/
.Vn9yz8P5MjIvDT8c0U6w {
  box-shadow: 0 0px 8px rgba(var(--spice-rgb-shadow), 0.2);
}

/*fix home screen scrolliong performance*/
.search-searchCategory-categoryGrid,
[data-overlayscrollbars-viewport] {
  will-change: transform !important;
}

/*search page play button*/
.NI1OxoVdokxENPAjoeOk{
  box-shadow: none !important;
}

/*makes my contextmenu icons have same colour*/
#context-menu [data-encore-id="icon"] {
  --encore-icon-fill: var(--text-subdued, #656565);
}