.GenericModal {
  background-color: unset;
}

.main-trackCreditsModal-container {
  background-color: var(--spice-main) !important;
  width: 450px;
  border-radius: 7px;
  box-shadow: 0 0px 20px rgba(var(--spice-rgb-shadow), 0.5) !important;
}

.main-embedWidgetGenerator-container {
  background-color: rgba(var(--spice-rgb-main), 0.9) !important;
  backdrop-filter: blur(20px) saturate(1.4) brightness(1.2);
  max-height: 80vh;
  border-radius: 7px;
  box-shadow: 0 0px 20px rgba(var(--spice-rgb-shadow), 0.5) !important;
}

.GenericModal__overlay {
  background-color: rgba(var(--spice-rgb-shadow), 0.5);
  border-radius: 7px;
}

.main-trackCreditsModal-mainSection {
  scrollbar-width: thin;
}

.main-trackCreditsModal-originalCredits {
  padding-bottom: unset;
}
