.category-carousel {
  display: flex;
  gap: 8px;
  padding-bottom: 8px;
}

.category-button {
  padding: 8px 14px;
  background: rgba(var(--spice-rgb-selected-row), 0.1);
  color: rgba(var(--spice-rgb-text), 0.9);
  border: none;
  border-radius: 7px;
  font-size: 15px;
}

.category-button:hover {
  background: rgba(var(--spice-rgb-selected-row), 0.14);
}

.category-button:active {
  background: var(--spice-text);
  color: var(--spice-sidebar);
}
