.carousel {
  display: flex;
  gap: 8px;
}

.carousel__button {
  height: 32px;
  padding-inline: 12px;
  background: rgba(var(--spice-rgb-selected-row), 0.1);
  color: rgba(var(--spice-rgb-text), 0.9);
  border: none;
  border-radius: 7px;
  font-size: 15px;

  &:hover {
    cursor: pointer;
  }

  &.carousel__button--active {
    background: var(--spice-text);
    color: var(--spice-sidebar);
  }
}
