.settings-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.settings-menu__options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: var(--border-radius);
  overflow-y: scroll;
  scrollbar-width: none;
}

.option__category {
  display: flex;
  flex-direction: column;
}

.option__category-title {
  font-size: 1.5rem;
  color: var(--spice-text);
  border-bottom: 1px solid rgba(var(--spice-rgb-selected-row), 0.1);
}

kbd {
  border-radius: var(--encore-corner-radius-base);
  box-shadow:
    0 1px 0 var(--background-base),
    0 0 0 1px var(--essential-subdued) inset;
  display: inline-block;
  line-height: 1.5;
  margin: var(--encore-spacing-tighter-5);
  min-width: 1.5em;
  padding: var(--encore-spacing-tighter-5) var(--encore-spacing-tighter-3);
  text-align: center;
}
