.themeOptionRow {
  display: flex;
  height: 32px;
  justify-content: space-between;
}

.themeModalOptions,
.themeOptionWrapper,
.themeOptionRevealed,
.themeOptionsCategory {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.themeOptionRevealed .themeOptionRow {
  padding-left: 30px;
}

.themeOptionDesc {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 15px;
  color: var(--spice-subtext);
}

.themeOptionControl {
  align-content: center;
  display: flex;
  gap: 8px;
}