.option__item--main {
  display: flex;
  flex-direction: column;
}

.option__item--revealed {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  border-left: 2px solid rgba(var(--spice-rgb-selected-row), 0.1);
  padding-left: 10px;
}

.themeOptionRow {
  display: flex;
  justify-content: space-between;
  height: 32px;
}

.theme-option-desc {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 15px;
  color: var(--spice-subtext);
}

.theme-option-control {
  align-content: center;
  display: flex;
  gap: 8px;
}