.themeOptionRow {
  display: flex;
  height: 32px;
  justify-content: space-between;
}

.optionsContainer {
  overflow-y: auto;
  height: calc(80vh - 227px);
  scrollbar-width: none;
}

.themeModalOptions,
.themeOptionWrapper,
.themeOptionRevealed,
.themeOptionsCategory {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.themeOptionRevealed .themeOptionRow {
  padding-left: 30px;
}

.themeOptionDesc {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 15px;
  color: var(--spice-subtext);
}

kbd {
  border-radius: var(--encore-corner-radius-base);
  -webkit-box-shadow: 0 1px 0 var(--background-base),
    0 0 0 1px var(--essential-subdued) inset;
  box-shadow: 0 1px 0 var(--background-base),
    0 0 0 1px var(--essential-subdued) inset;
  display: inline-block;
  line-height: 1.5;
  margin: var(--encore-spacing-tighter-5);
  min-width: 1.5em;
  padding: var(--encore-spacing-tighter-5) var(--encore-spacing-tighter-3);
  text-align: center;
}
