.Modal__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--spice-rgb-shadow), 0.5);
  border-radius: 7px;
}

.Modal {
  background-color: unset;
}

.Modal__container {
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--spice-rgb-main), 0.9) !important;
  backdrop-filter: blur(20px) saturate(1.4) brightness(1.2);
  width: 500px;
  max-height: 500px;
  border-radius: 7px;
  box-shadow: 0 0px 20px rgba(var(--spice-rgb-shadow), 0.5) !important;
}

.Modal__container--large {
  max-height: 80vh;
  width: clamp(550px, 60vw, 650px);
}

.Modal__header {
  display: flex;
  justify-content: space-between;
  padding: 32px 32px 12px;
  border-bottom: 1px solid rgba(var(--spice-rgb-selected-row), 0.1);
}

.Modal__titleContainer {
  display: flex;
  gap: 8px;
}

.Modal__icon {
  display: flex;
  align-items: center;
}

.Modal__title {
  display: flex;
}

.Modal__buttonContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.Modal__buttonContainer .Modal__button {
  background-color: var(--spice-highlight);
  border-radius: 8px;
  height: 34px;
  cursor: pointer;
  padding: 8px;
  border: 0;
}

.Modal__buttonContainer .Modal__button:hover {
  transform: scale(1.1);
}

.Modal__buttonContainer .Modal__button:active {
  transform: scale(0.9);
}

.Modal__content {
  display: flex;
  padding: 16px 24px !important;
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}
