.themeOptionPopupButton {
  height: 32px;
  color: rgba(var(--spice-rgb-text), 0.8);
  background: rgba(var(--spice-rgb-selected-row), 0.1);
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
  border: 0;
}

.themeOptionPopupButton:hover {
  transform: scale(1.04);
  color: var(--spice-text);
}

.themeOptionInput {
  background: rgba(var(--spice-rgb-selected-row), 0.1);
  border: 0;
  border-radius: 4px;
  color: rgba(var(--spice-rgb-text), 0.8);
  height: 32px;
  width: 128px;
  text-overflow: ellipsis;
  padding-left: 10px;
}

.themeOptionDropdown {
  background: rgba(var(--spice-rgb-selected-row), 0.1);
  border: 0;
  border-radius: 4px;
  color: rgba(var(--spice-rgb-text), 0.8);
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  letter-spacing: 0.24px;
  line-height: 20px;
  padding: 0px 18px 0 4px;
}

.themeOptionToggle {
  display: flex;
  align-items: center;
  background: none !important;
  border: none;

  .toggleButton {
    background: none !important;
    border: none;

    &:disabled {
      .toggleBackground {
        background: rgba(var(--spice-rgb-selected-row), 0.1) !important;
        opacity: 0.35;
        .toggle {
          opacity: 0.35;
          margin-left: 2px !important;
        }
      }
    }

    .toggleBackground {
      width: 42px;
      height: 24px;
      background: rgba(var(--spice-rgb-selected-row), 0.1);
      border-radius: 12px;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:has(.enabled) {
        background: var(--spice-button-active);
        .toggle {
          margin-left: 20px;
        }
      }

      .toggle {
        width: 20px;
        height: 20px;
        background: var(--spice-text);
        border-radius: 50%;
        margin-left: 2px;
        transition: 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
      }
    }
  }
}
