.info-tippy {
  display: flex;
  align-items: center;
}

.popup-button {
  height: 32px;
  color: rgba(var(--spice-rgb-text), 0.8);
  background: rgba(var(--spice-rgb-selected-row), 0.1);
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
  border: 0;

  &:hover {
    transform: scale(1.04);
    color: var(--spice-text);
  }
}

.input {
  background: rgba(var(--spice-rgb-selected-row), 0.1);
  border: 0;
  border-radius: 4px;
  color: rgba(var(--spice-rgb-text), 0.8);
  height: 32px;
  width: 128px;
  text-overflow: ellipsis;
  padding-left: 10px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.dropdown {
  position: relative;
  min-width: 100px;
  width: fit-content;
  font-size: 14px !important;
  cursor: pointer;

  &.dropdown--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.dropdown__button {
    display: flex;
    border: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    background: rgba(var(--spice-rgb-selected-row), 0.1);
    color: rgba(var(--spice-rgb-text), 0.8);
    border-radius: 4px;
    height: 32px;
    width: 100%;
  }

  &.dropdown__arrow {
    display: flex;
  }

  &.dropdown__menu {
    background: var(--spice-card);
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: rgba(var(--spice-rgb-text), 0.8);
    border: solid rgba(var(--spice-rgb-subtext), 0.1) 1px;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: 250px;
  }

  &.dropdown__option {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 32px;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:hover,
    &--selected {
      background: var(--spice-button);
    }
  }
}

.toggle {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.toggle__background {
    width: 42px;
    height: 24px;
    background: rgba(var(--spice-rgb-selected-row), 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;

    &:has(.toggle__slider--enabled) {
      background: var(--spice-button);

      .toggle__slider {
        margin-left: 20px;
      }
    }
  }

  &.toggle__slider {
    width: 20px;
    height: 20px;
    background: var(--spice-text);
    border-radius: 50%;
    margin-left: 2px;
    transition: 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    box-shadow: 0px 0px 5px rgba(var(--spice-rgb-shadow), 0.3);
  }
}


.radio-button {
  display: flex;
  gap: 8px;

  .radio-button__item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid var(--spice-tab-active);
    border-radius: 8px;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background-color: var(--spice-tab-active);
    }

    &:has(.radio-button__input:checked) {
      box-shadow: inset 0 0 0 2px var(--spice-button);
      color: var(--spice-text);
    }

    .radio-button__input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    .radio-button__text {
      color: var(--spice-text);
      font-size: 14px;
    }
  }
}