body {
  zoom: var(--Zoomlevel);
}

* {
  font-family: var(--FontFamily), "Segoe UI Variable Display", "Segoe UI Variable Text", "Segoe UI" !important; 
}

.spotify__os--is-windows:not(.fullscreen) .WindowsControl #main::after {
  content: "";
  position: absolute;
  pointer-events: none;
  backdrop-filter: brightness(var(--windowcontrol-brightness));
  z-index: 999;
  right: 0;
  top: var(--windowcontrol-top);
  width: var(--windowcontrol-width);
  height: var(--windowcontrol-height);
}

.AlbumBannerPage {
  .banner-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: var(--image);
    background-position: center;
    filter: blur(5px) brightness(0.75);
    transition: background 0.5s ease;
  }

  &.PlaylistPage {
    .playlist-playlist-playlistContent,
    .main-actionBarBackground-background,
    .main-entityHeader-backgroundColor {
      background: none !important;
    }
  }

  &.LyricsPage {
    .lyrics-lyrics-background {
      background-color: unset !important;
    }

    .lyrics-lyricsContainer-LyricsBackground {
      display: none;
    }
  }
}
