body {
  zoom: var(--Zoomlevel);
}

.spotify__os--is-windows:not(.fullscreen) .WindowsControl #main::after {
  content: "";
  position: absolute;
  pointer-events: none;
  backdrop-filter: brightness(var(--windowcontrol-brightness));
  z-index: 999;
  right: 0;
  top: var(--windowcontrol-top);
  width: var(--windowcontrol-width);
  height: var(--windowcontrol-height);
}

.AlbumBannerPage .banner-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: var(--image);
  background-position: center;
  filter: blur(5px) brightness(0.75);
  transition: background 0.5s ease;
}

.AlbumBannerPage.PlaylistPage .playlist-playlist-playlistContent,
.AlbumBannerPage.PlaylistPage .PeLrpasyfBW8ql_bmoAi,
.AlbumBannerPage.PlaylistPage .PkOz5g82CaoKk1J3GX0e {
  background: none !important;
}

.AlbumBannerPage.LyricsPage .lyrics-lyrics-background {
  background-color: unset !important;
}

.AlbumBannerPage.LyricsPage .lyrics-lyricsContainer-LyricsBackground {
  display: none;
}
