.LibX {
  .Root__top-container {
    padding-top: 48px;
    grid-template-areas:
      "global-nav main-view right-sidebar"
      "left-sidebar main-view right-sidebar"
      "now-playing-bar now-playing-bar now-playing-bar" !important;
  }

  .Root__globalNav > * {
    padding-left: 8px;
    padding-right: 8px;
  }

  .Root__globalNav {
    height: unset;
    background-color: var(--spice-main);
    border-radius: 8px;
    padding: unset !important;
    margin: unset !important;
    align-items: unset;
    box-shadow: 0 0px 8px rgba(var(--spice-rgb-shadow), 0.1) !important;
  }

  .main-topBar-topbarContentRight,
  .main-globalNav-searchContainer > *,
  .search-searchCategory-categoryGrid > div > * {
    margin-top: 8px !important;
  }

  .Root__globalNav .main-globalNav-link-icon {
    background-color: unset;
    transform: unset;
    justify-content: unset;
  }

  .main-actionButtons {
    animation: unset !important;
    display: flex !important;
    padding-inline: unset;
  }

  .search-searchCategory-categoryGrid,
  .main-globalNav-historyButtonsContainer,
  .main-globalNav-historyButtons > * {
    display: unset !important;
  }

  .main-globalNav-historyButtons {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }

  .main-globalNav-searchSection {
    order: -1;
  }

  [aria-label="Marketplace"],
  ._b3hhmbWtOY8_1M1mM1H,
  .Root__globalNav .Dp3xccI7c2f_JSJ8OHYu,
  .main-globalNav-searchInputSection {
    margin-inline: unset !important;
  }

  .Root__globalNav,
  .search-searchCategory-categoryGrid > div,
  .main-globalNav-searchContainer {
    flex-direction: column !important;
    max-width: unset;
  }

  .main-topBar-topbarContentRight {
    gap: 8px;
    justify-content: unset;
    padding-bottom: 8px;
  }

  .main-topBar-searchBar {
    background: unset;
    background-color: unset !important;
    border-bottom: unset;
    box-shadow: none !important;
  }

  .fmZ0hU6ImbDQi5qGWLvF .main-globalNav-textWrapper {
    position: absolute;
    margin-left: 52px;
    top: 50%;
    transform: translateY(-50%);
  }

  .main-globalNav-textWrapper {
    margin-left: 16px;
  }

  ._b3hhmbWtOY8_1M1mM1H {
    padding-inline: unset;
  }

  .collapsed.Root__globalNav {
    width: 72px;
  }

  .b7r2WRiu5f9Q99qmyreh {
    width: unset !important;
  }

  .collapsed .b7r2WRiu5f9Q99qmyreh *:not(svg) {
    width: 56px !important;
    display: flex;
    justify-content: center;
  }

  .collapsed .BV0jjn_h5TtMMl8YKuZ0,
  .collapsed .main-globalNav-textWrapper,
  .forceExpandSearchInput .fmZ0hU6ImbDQi5qGWLvF .main-globalNav-textWrapper,
  .collapsed .main-actionButtons,
  .collapsed .main-globalNav-historyButtons {
    display: none !important;
  }

  .collapsed .main-globalNav-link-icon {
    justify-content: center !important;
  }

  .collapsed .main-userWidget-box {
    width: 56px;
  }

  .collapsed .main-userWidget-hasAvatar > div,
  .collapsed .main-userWidget-hasAvatar {
    width: 38px !important;
  }
}

.highlightnav {
  .custom-navlinks-scrollable_container {
    max-width: unset;
  }

  .main-globalNav-navLinkActive[aria-label="Home"],
  .main-globalNav-navLinkActive[aria-label="Marketplace"],
  .main-globalNav-navLinkActive[aria-label="Lyrics"],
  .b7r2WRiu5f9Q99qmyreh:has(.j4xi27AJ3oy5qZ8CGhhQ) .ODl7TwNawIfBwiZv1Czg {
    background-color: var(--spice-highlight-elevated) !important;
    border-radius: 7px !important;
  }

  .b7r2WRiu5f9Q99qmyreh:hover,
  [aria-label="Home"]:hover,
  [aria-label="Marketplace"]:hover,
  [aria-label="Lyrics"]:hover {
    background-color: var(--spice-highlight);
    border-radius: 7px;
  }
}

.PreLibX {
  .Root__globalNav,
  .main-view-container__scroll-node,
  .main-buddyFeed-container {
    padding-top: 48px;
  }

  .main-yourLibraryX-library,
  .Root__globalNav {
    background-color: var(--spice-sidebar);
    border-radius: 0px;
  }

  .Root__globalNav,
  .Root__nav-bar {
    border-right: 1px solid var(--spice-card) !important;
  }

  .Root__top-container {
    gap: 0 !important;
    padding: 0px !important;
  }

  .Root__main-view-overlay {
    margin: 0 !important;
  }

  .main-nowPlayingBar-nowPlayingBar {
    background-color: var(--spice-player);
    border-top: 1px solid var(--spice-card);
    height: 88px !important;
  }

  .Root__right-sidebar {
    border-left: 1px solid var(--spice-card);
  }

  .main-buddyFeed-container,
  .Root__main-view {
    border-radius: 0px !important;
  }

  .main-yourLibraryX-header {
    padding: 0 0 0 16px;
  }

  .LayoutResizer__inline-end {
    inset-inline-end: -4px !important;
  }

  .main-buddyFeed-header {
    height: 80px;
  }

  .J4qD2RoZgGLbOdpfs63w > div > *,
  .main-globalNav-searchContainer > *,
  .main-topBar-searchBar,
  .EJttP30F1zYHeAw7ISHb {
    min-block-size: unset !important;
    padding-block: 0px !important;
    height: 36px !important;
  }
}

.CompactLib {
  .fYWNdY4zhj4OX_T2Xtg6 {
    grid-template-rows: none !important;
  }

  .main-yourLibraryX-listItem [role="group"] {
    min-block-size: 0 !important;
  }

  .main-yourLibraryX-listItem .Column-lg {
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
  }

  .main-yourLibraryX-listItem .HeaderArea * {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .main-yourLibraryX-listItem .x-entityImage-imageContainer,
  .BfALkuQy0UjTI70U9QlQ *:not(svg),
  .YsCa3XbOXEm79LH0B7do {
    width: 24px !important;
    height: 24px !important;
    min-block-size: unset;
  }

  .YsCa3XbOXEm79LH0B7do svg {
    width: 16px !important;
    height: 16px !important;
  }

  .main-yourLibraryX-listItem {
    max-height: 40px;
  }
}

.TestLayout {
  .player-controls {
    flex-direction: row;
    justify-content: flex-start;
  }

  .main-nowPlayingBar-center {
    order: -1;
  }

  .main-nowPlayingBar-right {
    order: 1;
  }

  .main-nowPlayingBar-left {
    padding-inline-start: 0px;
    max-width: 275px;
  }

  .player-controls__left {
    order: 1;
  }

  .player-controls__right {
    order: 2;
  }

  .player-controls__buttons,
  .player-controls__left,
  .player-controls__right {
    gap: 0;
    flex: unset;
    width: unset;
  }

  .main-playbackBarRemainingTime-container,
  .playback-bar__progress-time-elapsed {
    min-width: 30px;
  }

  .playback-bar {
    max-width: 375px;
  }

  [data-testid="control-button-playpause"],
  [data-testid="control-button-skip-forward"],
  [data-testid="control-button-repeat"],
  [data-testid="control-button-shuffle"],
  [data-testid="control-button-skip-back"] {
    padding: 7px;
  }
}

.switchlayout {
  .Root__top-container {
    grid-template-areas:
      "global-nav global-nav global-nav"
      "left-sidebar main-view right-sidebar"
      "left-sidebar now-playing-bar now-playing-bar" !important;
  }

  &.LibX .Root__top-container {
    grid-template-areas:
      "global-nav main-view right-sidebar"
      "left-sidebar main-view right-sidebar"
      "left-sidebar now-playing-bar now-playing-bar" !important;
  }
}
