@forward "main/contextmenu";
@forward "main/experimental";
@forward "main/globalnav";
@forward "main/icons";
@forward "main/leftsidebar";
@forward "main/main";
@forward "main/misc";
@forward "main/nowplayingbar";
@forward "main/progressbar";

@forward "main/pages/home";
@forward "main/pages/lyrics";
@forward "main/pages/marketplace";
@forward "main/pages/playlist";

@forward "menu/menu";
@forward "menu/buttons";
@forward "menu/carousel";
@forward "menu/options";
@forward "menu/popupmodal";
@forward "menu/preview";

@forward "menu/types";

@forward "features/features";
@forward "features/layouts";
@forward "features/snippets";

body {
    overflow: hidden !important;
}

:root {
    --border-radius: 8px;
    --box-shadow: 0 0px 8px rgba(var(--spice-rgb-shadow), 0.1) !important;
    --mica-effect: blur(20px) saturate(1.4) brightness(1.2);
}
