.main-card-PlayButtonContainer,
.view-homeShortcutsGrid-playButton {
  box-shadow: none !important;
}

.view-homeShortcutsGrid-name {
  color: var(--spice-text);
}

.ix_8kg3iUb9VS5SmTnBY span.ButtonInner-sc-14ud5tc-0.encore-bright-accent-set,
.view-homeShortcutsGrid-playButton > span > svg {
  background: none !important;
  color: var(--spice-text) !important;
}

.ix_8kg3iUb9VS5SmTnBY > button > span {
  color: var(--spice-text);
  background: none;
  scale: 1.2;
}

.ix_8kg3iUb9VS5SmTnBY > button:hover > span {
  color: var(--spice-text);
  background: none !important;
  scale: 1.3;
}

.view-homeShortcutsGrid-shortcut {
  background-color: var(--spice-highlight-elevated);
  box-shadow: 0 0px 15px rgba(var(--spice-rgb-shadow), 0.15) !important;
}

.view-homeShortcutsGrid-shortcut:hover,
.main-card-cardContainer:hover {
  scale: 1.02;
}

/*make artists square*/
.main-card-imageContainer .MxmW8QkHqHWtuhO589PV {
  border-radius: 6px;
}

/*home carousel fade*/
.a2NTH51fJWzWsds0OYv_:before {
  background: linear-gradient(
    90deg,
    rgba(var(--spice-rgb-main), 0.5),
    transparent 100%
  );
}

.a2NTH51fJWzWsds0OYv_:after {
  background: linear-gradient(
    -90deg,
    rgba(var(--spice-rgb-main), 0.5),
    transparent 100%
  );
}
