.lyrics-tabBar-headerItemLink {
  background-color: var(--spice-highlight);
  border-radius: var(--border-radius);
}

.lyrics-tabBar-active {
  background-color: var(--spice-tab-active);
}

.lyrics-lyricsContainer-LyricsBackground {
  box-shadow: inset 0 0 200px var(--spice-sidebar);
}

.lyrics-lyricsContainer-LyricsBackground,
.lyrics-lyricsContainer-Provider {
  background: none !important;
}

.lyrics-lyricsContainer-SyncedLyrics .lyrics-lyricsContainer-LyricsLine {
  color: var(--spice-subtext);
  font-weight: 700;
}

.lyrics-lyricsContainer-LyricsLine-active {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  font-size: 38px !important;
}

.lyrics-lyricsContainer-SyncedLyrics {
  top: -80px;
  position: relative;
}

.lyrics-lyricsContainer-Karaoke-Word {
  color: rgba(var(--spice-rgb-subtext), 0.75);
}

.lyrics-lyricsContainer-UnsyncedLyricsPage {
  z-index: 1;
}
