.marketplace-tabBar-header {
  display: flex;
  justify-content: center;
}

.marketplace-tabBar-headerItemLink {
  background-color: var(--spice-highlight);
  border-radius: 8px;
}

.marketplace-tabBar-active {
  background-color: var(--spice-tab-active);
}

.marketplace-grid {
  padding-top: 10px;
}

.main-cardImage-image {
  border-radius: 6px;
}

.marketplace-tabBar-header {
  font-weight: 500;
}

.searchbar--bar__wrapper,
.searchbar-bar {
  height: 37px !important;
}

.searchbar-bar:focus {
  border-bottom: 2px solid var(--spice-accent) !important;
}
