.main-trackList-trackList {
  padding: 8px;
  background-color: rgba(var(--spice-rgb-card), 0.85);
  border-radius: 7px;
  box-shadow: 0 0px 16px rgba(var(--spice-rgb-shadow), 0.2);
}

.main-entityHeader-shadow {
  box-shadow: 0 0px 16px rgba(var(--spice-rgb-shadow), 0.33);
}

.main-trackList-trackListHeader.main-trackList-trackListHeaderStuck {
  border-radius: 0px 0px 8px 8px;
}

.main-entityHeader-overlay {
  background: linear-gradient(transparent, rgba(var(--spice-rgb-main), 0.5));
}

.main-actionBarBackground-background {
  background-image: linear-gradient(
    rgba(var(--spice-rgb-main), 0.5),
    var(--spice-main)
  );
}

.main-entityHeader-image {
  border-radius: 8px;
}

.ecHWOS,
.x-downloadButton-DownloadButton > div {
  justify-content: center;
  display: flex;
}

.main-actionBar-ActionBar {
  padding: 0 var(--content-spacing) 7px var(--content-spacing);
}

.main-actionBar-ActionBarRow > *:not(:last-child):has(.Wrapper-medium-only),
.main-actionBar-ActionBarRow
  > *:not(:last-child):has(.Wrapper-medium-only-medium) {
  background-color: rgba(var(--spice-rgb-card), 0.85);
  border-radius: 7px;
  box-shadow: 0 0px 16px rgba(var(--spice-rgb-shadow), 0.2);
  margin-right: 8px !important;
  min-width: 48px;
}

.main-actionBar-ActionBarRow > *:not(:last-child):has(.Wrapper-large-only),
.main-actionBar-ActionBarRow
  > *:not(:last-child):has(.Wrapper-large-only-medium) {
  background-color: rgba(var(--spice-rgb-card), 0.85);
  border-radius: 7px;
  box-shadow: 0 0px 16px rgba(var(--spice-rgb-shadow), 0.2);
  margin-right: 8px !important;
  min-width: 56px;
}

.playlist-playlist-searchBoxContainer {
  background-color: rgba(var(--spice-rgb-card), 0.85);
  border-radius: 7px;
  box-shadow: 0 0px 16px rgba(var(--spice-rgb-shadow), 0.2);
  align-items: center;
  padding: 8px;
}

.main-entityHeader-headerText {
  justify-content: center;
}

.main-entityHeader-container {
  padding-bottom: 0px;
  padding: var(--content-spacing) 0 var(--content-spacing);
  height: unset !important;
  min-height: unset !important;
}

:root {
  --playlist-image: clamp(
    156px,
    156px +
      (
        100vw - var(--left-sidebar-width, 0) * 1px - var(--panel-width, 0) * 1px -
          600px
      ) / 424 * 104,
    232px
  );
}

.main-entityHeader-imageContainerNew {
  position: relative;
  height: var(--playlist-image);
  width: var(--playlist-image);
}

// :root {
//   --playlist-image: clamp(
//     128px,
//     128px +
//       (
//         100vw - var(--left-sidebar-width, 0) * 1px - var(--panel-width, 0) * 1px -
//           600px
//       ) / 424 * 104,
//     232px
//   );

//   --min-fluid-height: clamp(
//     250px,
//     250px +
//       (
//         100vw - var(--left-sidebar-width, 0) * 1px - var(--panel-width, 0) * 1px -
//           600px
//       ) / 424 * 90,
//     340px
//   );
// }

// .main-entityHeader-imageContainerNew {
//   position: relative;
//   height: var(--playlist-image);
//   width: var(--playlist-image);
// }

// .playlist-playlist-playlistContent {
//   position: relative;
//   top: calc(
//     -1 * (var(--playlist-image) - 148px)
//   );
// }

// .main-actionBar-ActionBarRow {
//   position: relative;
//   left: calc(var(--playlist-image) + var(--content-spacing));
//   width: calc(calc(100% - var(--playlist-image)) - var(--content-spacing));
// }

.main-entityHeader-titleInner > * {
  font-size: 4rem !important;
}

.main-entityHeader-withBackgroundImage {
  height: min(30vh, var(--fluid-height)) !important;
}
