.main-trackList-trackListHeader.main-trackList-trackListHeaderStuck {
  border-radius: 0px 0px 8px 8px;
}

.main-trackList-trackList {
  padding: var(--border-radius);
  background-color: rgba(var(--spice-rgb-card), 0.85);
  border-radius: 7px;
  box-shadow: 0 0px 16px rgba(var(--spice-rgb-shadow), 0.2);
}

.main-entityHeader-overlay {
  background: linear-gradient(transparent, rgba(var(--spice-rgb-main), 0.5));
}

.main-entityHeader-shadow {
  box-shadow: 0 0px 16px rgba(var(--spice-rgb-shadow), 0.33);
}

.main-entityHeader-headerText {
  justify-content: center;
}

.main-entityHeader-titleInner > * {
  font-size: 4rem !important;
  line-height: 3.5rem;
}

.main-actionBarBackground-background {
  background-image: linear-gradient(rgba(var(--spice-rgb-main), 0.5), var(--spice-main));
}

.main-editImageButton-image:hover,
.main-entityHeader-image {
  border-radius: var(--border-radius);
}

.x-downloadButton-DownloadButton > div {
  display: flex;
  justify-content: center;
  height: 56px;
}

.main-actionBar-ActionBar {
  padding-top: unset !important;
}

.main-actionBar-ActionBarRow > *:not(:last-child):not(:nth-child(2)) {
  width: 56px;
  height: 56px;
  margin-right: 8px !important;
  background-color: rgba(var(--spice-rgb-card), 0.85);
  border-radius: 7px;
  box-shadow: 0 0px 16px rgba(var(--spice-rgb-shadow), 0.2);
}

.main-actionBar-ActionBarRow > *:nth-child(2) {
  margin-right: 8px !important;
  background-color: rgba(var(--spice-rgb-card), 0.85);
  border-radius: 7px;
  box-shadow: 0 0px 16px rgba(var(--spice-rgb-shadow), 0.2);
}

.playlist-playlist-searchBoxContainer {
  align-items: center;
  padding: 8px;
  background-color: rgba(var(--spice-rgb-card), 0.85);
  border-radius: 7px;
  box-shadow: 0 0px 16px rgba(var(--spice-rgb-shadow), 0.2);
}
